- content_for :title, t("icu.affiliation_byelaws")

= render "prev_next", page: :affiliation_byelaws

%h1.text-center= t("icu.affiliation_byelaws")

%ol
  %li
    Affiliated bodies are required to pay a €12.70 affiliation fee annually
    at least seven days before the Annual General Meeting of the Irish Chess Union.
  %li
    The appropriate affiliation fee as described above must be paid in order
    for such affiliated body to make the appointment of a person as a full
    member of the Executive Committee as set out in Article 7.3 of the
    Constitution.
  %li
    Affiliated bodies must inform the ICU Secretary in writing at least seven
    days before the Annual General Meeting of the name of the person that the
    body has appointed to be a full member of the Executive Committee for such
    appointment to be valid.
  %li
    If the appointed person fails to attend three consecutive meetings of the
    Executive Committee that defaulting person will cease to be a member of
    the Executive Committee. The affiliated body may appoint a replacement as
    set out in Article 7.4 of the Constitution.
  %li
    The Executive Committee shall accept or reject the application of bodies
    seeking to affiliate to the Union within 12 months of application.
    Bodies seeking application should submit:
  %ol{style: "list-style: lower-alpha"}
    %li A copy of their written Constitution.
    %li Accounts as submitted at their last AGM held within the previous 12 months.
    %li A list of their current members, indicating current members of the Union.
    %li A written submission detailing the history, aims and objectives of the body.
  %li
    Affiliated bodies seeking funds from the ICU for any reason should,
    in support of their application, supply items 5(a) to (d) as deemed
    appropriate by the Executive Committee.
