= render "prev_next", page: :allegro_rules

%h1.text-center= t("icu.allegro_rules")

%p.small.text-center Last updated: January 1996

%ol
  %li
    An allegro finish game is one in which either:
    %ol{style: "list-style: lower-alpha"}
      %li
        All the moves of the game must be made by a player within a given time; or
      %li
        All the moves after the time control must be made by a player within
        a given time. In the latter case, when Black has made his time control
        move and stopped his clock, the times on the clocks are noted and the
        clocks are then set back by the stipulated time, usually 15 minutes.
        Thus the final time control is on the hour and a player retains the
        use of any time he has not consumed.
  %li
    The FIDE Laws of Chess apply except where specifically modified hereunder.
  %li
    Each player must keep a game score up-to-date until less than five minutes remains on his or her clock.
    The opponent's move must be written down before the reply move is made.
  %li
    The chess clock:
    %ol{style: "list-style: lower-alpha"}
      %li The clock button must be pressed with the hand which makes the move.
      %li The clock must not be picked up by either player.
      %li The clock may be stopped during play by a player only to request assistance from an arbiter.
      %li Any player using undue force on a clock may, after a warning by the arbiter, be penalised by the loss of the game.
  %li
    Illegal moves:
    %ol{style: "list-style: lower-alpha"}
      %li
        Illegal moves do not necessarily suffer any penalty, as in the normal
        Laws of Chess. However the arbiter may allow the player who played
        correctly an extra allotment of time, usually one minute.
      %li
        An illegal move is not completed until the player has stopped his clock.
        An illegal move retracted prior to that suffers only the normal
        penalties of the "touch and move" rule. If a player completes an
        illegal move when his opponent has less than five minutes remaining,
        the opponent may automatically claim an extra minute.
      %li
        An illegal move discovered only after it has been replied to suffers
        no penalty. It cannot be corrected unless both players agree without
        recourse to the arbiter.
  %li
    Winning on time:
    %ol{style: "list-style: lower-alpha"}
      %li
        A game is won on time in the usual way. However if both flags on the
        clock have fallen, and it is impossible to establish which fell first,
        then the game is drawn.
      %li
        To win on time a player must have sufficient mating material, i.e. such material as to allow a position to be reached in which the opponent,
        having the move, is unable to prevent mate next move.
      %li
        Where a flagfall is not noticed by the players, the arbiter is required to announce it.
  %li
    A player may claim a draw during the last two minutes on his clock and
    before his own flag falls. He must stop the clocks and summon the arbiter.
    The arbiter may then, or subsequently, declare the game drawn if he is
    satisfied that the opponent is making no attempt to win the game by normal
    means or that it is not possible to win by normal means. If the arbiter
    does not uphold the claim for a draw immediately, he may decide to give
    the opponent extra time, to compensate him for the disruption of the game.
    The arbiter may declare the game drawn even after the claimant's flag has fallen.
  %li
    The arbiter may step in during the last two minutes on a player's clock
    and award him a draw if he is satisfied that the opponent is making no
    effort to win the game by normal means or that it is not possible to
    win the game by normal means.
  %li
    Guidance for players short of time (less than two minutes):
    %ol{style: "list-style: lower-alpha"}
      %li
        If you play for a win you risk losing, unless your opponent has only a king.
      %li
        If you are holding a position so that your opponent cannot make progress,
        offer him a draw. If he rejects the offer, stop the clocks and summon the
        arbiter.
  %li
    Guidance for arbiters:
    %ol{style: "list-style: lower-alpha"}
      %li
        Some chess judgment is required, for instance if a player has only a king,
        which is blocking the opponent's sole rook's pawn, the arbiter may declare
        the game drawn if he believes the defending player is of adequate playing
        strength. Where a player has a large material advantage but is short of time
        and claims a draw, the arbiter must assess whether the opponent has
        non-material compensation, e.g. a mating attack. If the position is
        unclear or in dynamic equilibrium, the game must continue.
      %li
        The arbiter need not make an instant decision when called to the board,
        but can make himself aware of the circumstances by watching a few moves.
        If the claimant demonstrates a sound defense while maintaining a brisk
        rate of play, the draw should be awarded. However if the opponent makes
        clear progress before the claimant's flag falls, the opponent should be
        awarded a win.
      %li
        The arbiter would generally not intervene in a game under rule 8 above
        except to avoid a miscarriage of justice, for instance in a game
        involving a young or inexperienced player.
