= render "prev_next", page: :code_of_conduct

%h1.text-center= t("code_of_conduct")

%p.text-center.small Last updated: August 2008

%p
  Chess in Ireland is intended to be a recreational activity primarily for enjoyment.
  This code of conduct has been developed by the Irish Chess Union (ICU) to give its members some guidelines to the expectations
  it has of the participants. As a result, the quality of participation will be improved so people are more likely to start and
  continue their involvement in Chess.
%p
  Players contravening these guidelines may be subject to disciplinary action by the ICU which could range from
  a written warning to permanent expulsion from the organisation (see Procedures below).

%h3 Guidelines

%ol
  %li
    %strong Understand and play by the rules:
    Understanding and playing by the rules is your responsibility. The rules of Chess, as set out by FIDE, exist for good reasons and
    if everyone learns and abides by them then this will ensure the enjoyment of all people involved in Chess. If you do consistently
    break the rules you must accept that there will be consequences for you.
  %li
    %strong Respect referees and other officials:
    Referees and officials have a difficult task to perform and you could not play the game without them. They are there to enforce
    the rules of play but, like all people, they cannot always be right. Accept their decisions graciously. You have the right to
    appeal their decisions and if you use this right, do so without causing problems. Abuse of referees is unacceptable behaviour.
    You must accept the decision of the players appeal committee – failure to do so will be seen as a serious breach of this code of conduct.
  %li
    %strong Verbal abuse:
    Verbal abuse of officials is a serious offence against the rules of Chess. Verbally abusing other players or deliberately
    distracting or provoking an opponent is also not acceptable. Loss of temper is not only unpleasant for other participants
    in the game, it can also distract you and have an adverse effect on your concentration and effectiveness at the board
    It will also similarly distract other players nearby.
  %li
    %strong Be a good sport:
    Part of participation in sport is respect for all participants in the game. Your opponents are entitled to proper courtesy.
    Good manners and respect for others can be infectious. If you acknowledge the achievements of your opponents it is likely
    they will follow suit. Always introduce yourself to your opponents, shake hands before and after the game and accept a loss gracefully.
  %li
    %strong Be respectful during the game:
    It is important to give each and every opponent proper respect during the game as well as before and after it.
    Everyone can be late for the odd game but players who are consistently late for games may be considered disrespectful to their opponents.
    Players not paying attention to the game by reading at the board, listening to music at the board (even through earphones) or in any other
    way displaying disinterest in the game may also be considered disrespectful.
  %li
    %strong Respect the rights, dignity and worth of every person:
    Regardless of their gender, ability, cultural background, religion or other factor irrelevant to the game, all persons connected
    with Chess are entitled to equal treatment and respect.  Avoid any remarks that could be construed as offensive or discriminatory.
    Sometimes even a joke may give offence.
  %li
    %strong We owe a special duty of care to Children in Chess:
    Everyone involved in any way in Irish Chess owes a special duty of care to children who play the game. Anyone who neglects this
    duty will be in serious breach of this code. Any form of abuse of any child, be it verbal or physical, will be view as the most
    serious breach of this code of conduct and will be dealt with in the harshest possible manner open to the Irish Chess Union.
  %li
    %strong Always respect the use of facilities and venues provided:
    Facilities, equipment and venues provided by the ICU and other organisers cost money and need to be respected by all participants in Chess events.
    Failure to do so will be considered a serious breach of the ICU code of Conduct.
  %li
    %strong Be mindful of the public image of Chess:
    All members of the ICU need to realise that it is extremely important to maintain the public image of Chess in Ireland.
    Any member who publicly jeopardises this may be subject to disciplinary action by the executive committee of the ICU.

%h3 Procedures

%p Any person accused of being in breach of the above Code of Conduct may expect the following procedure to be implemented by the Irish Chess Union executive committee.

%ol
  %li A three person disciplinary sub-committee will be formed. At least one member of this sub-committee shall be drawn from the members of the current executive committee of the Irish Chess Union. The current chairman of the ICU will not sit on this sub-committee.
  %li The disciplinary committee should initiate an investigation following a complaint into any incident of suspected misconduct that does not relate to child abuse.
  %li Should the complaint involve child abuse, the disciplinary committee should immediately involve the relevant authorities and take advice from them.
  %li Written records of all complaints should be safely and confidentially kept and procedures will be defined for the possession of such records in the event of election of new officers.
  %li The disciplinary committee should furnish the individual with details of the complaint being made against him/her and afford him/her the opportunity of providing a response either verbally or in writing.
  %li Where it is established that an incident of misconduct has taken place, the disciplinary committee should notify the member of any sanction being imposed. The notification should be made in writing, setting out the reasons for the sanction. If the member is under 18 years of age, correspondence should be addressed to the parents/guardians.
  %li The sanction can range from a written warning, a ban from playing Chess in Ireland for a certain period of time, to exclusion of membership of the Irish Chess Union for life.
  %li If any member against whom the complaint was made wishes to appeal the decision of the sub-committee, he/she has the right to do so. This appeal must be made in writing within 28 days of the written notification of the sanction. In this case, an independent appeals committee will be formed.
  %li The appeals committee shall not contain any member of the disciplinary sub committee and should be chaired by the chairman of the ICU. It will have access to all their written records and a report from their chairman of the disciplinary sub committee. The appeals committee should have the power to confirm, set aside or change any sanction imposed by the disciplinary committee.
