= render "prev_next", page: :constitution

%h1.text-center= t("icu.constitution")

%p.small
  As adopted at an Extraordinary General Meeting of the Irish Chess Union held on the 4th day of September 2005
  (a substantial rewrite of the earlier constitution passed in 1990 and subsequently amended on several occasions).

%ol
  %li
    %a{href: "#1"} NAME
  %li
    %a{href: "#2"} GENERAL POWERS OF THE UNION
  %li
    %a{href: "#3"} SPECIFIC OBJECTIVES AND POWERS OF THE UNION
  %li
    %a{href: "#4"} CODE OF GOOD PRACTICE FOR CHILDREN IN CHESS
  %li
    %a{href: "#5"} MEMBERSHIP
  %li
    %a{href: "#6"} PROVINCIAL CHESS UNIONS
  %li
    %a{href: "#7"} GENERAL MEETINGS
  %li
    %a{href: "#8"} EXTRAORDINARY GENERAL MEETINGS
  %li
    %a{href: "#9"} MEMBERSHIP OF EXECUTIVE COMMITTEE
  %li
    %a{href: "#10"} THE EXECUTIVE COMMITTEE
  %li
    %a{href: "#11"} THE PRESIDENT AND HONORARY VICE PRESIDENTS
  %li
    %a{href: "#12"} ACCOUNTS
  %li
    %a{href: "#13"} DISCIPLINE
  %li
    %a{href: "#14"} NOTICES
  %li
    %a{href: "#15"} INDEMNITY
  %li
    %a{href: "#16"} AMENDMENT OF INTERNATIONAL ELIGIBILITY CRITERIA
  %li
    %a{href: "#17"} ALTERATION OF CONSTITUTION

%a{name: "1"}
%h3 Article 1. NAME

%p The name of the Union shall continue to be "The Irish Chess Union" or in the Irish language "Cumann Ficheall na hEireann".

%a{name: "2"}
%h3 Article 2. GENERAL POWERS OF THE UNION

%p The Union is the governing body of chess in Ireland, and is affiliated to the International Chess Federation (F.I.D.E.) and the European Chess Union. In this capacity it has the sole responsibility to nominate individual players and teams to represent Ireland in international chess tournaments or events organised under the auspices of these bodies.

%a{name: "3"}
%h3 Article 3. SPECIFIC OBJECTIVES AND POWERS OF THE UNION

%p 3.1 The Union shall have the following specific objectives:
%ol{style: "list-style: lower-alpha"}
  %li To continue to affiliate to F.I.D.E.
  %li To encourage, develop and promote the sport of Chess in Ireland.
  %li To fulfil Ireland's International Chess obligations.
  %li To maintain the Irish rating register.
  %li To ensure that the Irish Chess Championship is held annually.
  %li To administer the playing of competitive Chess in Ireland.
  %li To endeavour to raise the standard of Chess playing in Ireland.
  %li To obtain government and private sponsorship of Chess.


%p 3.2 The Union shall also have the following powers:
%ol{style: "list-style: lower-alpha"}
  %li To affiliate to any other body that the committee of the Union shall from time to time deem appropriate with a view to furthering the aims and objectives of the Union.
  %li To raise funds and accumulate income and to receive subscriptions, donations and bequests.
  %li To invest any monies of the Union in any forms of investment authorised by law as proper investments for charity funds.
  %li To adopt such measures of making known the activities of the Union as may seem expedient.
  %li To enter into joint ventures for the promotion, administration or playing of Chess either in Ireland or internationally.

%a{name: "4"}
%h3 Article 4. CODE OF GOOD PRACTICE FOR CHILDREN IN CHESS

%p The Union undertakes in all its activities to have special regard for the protection of children in chess. It undertakes to ensure that a Code of Good Practice for Children in Chess is implemented in clubs, and provincial unions and that procedures for dealing with any complaints are put in place.

%a{name: "5"}
%h3 Article 5. MEMBERSHIP

%p 5.1 Membership of the union shall be open to all persons who agree to be bound by the provisions of this constitution and who comply with its bye laws.

%p 5.2 The fees and subscriptions to be paid for membership shall be determined by the Executive annually in advance of the Annual General Meeting and shall be reported to that meeting in the Treasurers Report.

%a{name: "6"}
%h3 Article 6.  PROVINCIAL CHESS UNIONS

%p The Union recognises the special role played by provincial chess unions in helping it to promote the sport. These bodies are affiilated to the Union and have a right of representation on its Executive and to send two delegates each to General Meetings of the Union. The Union may recognise other bodies or organisations connected with chess in Ireland as affiliates.

%a{name: "7"}
%h3 Article 7. GENERAL MEETINGS

%p 7.1 The AGM shall be held between 1st July and 30th September in each calendar year
%p 7.2 Not less than four clear weeks notice shall be given to members of the Union of the date and venue of the meeting, of the agenda for the meeting, of any motions for consideration at the meeting, and of any valid nominations for membership of the Executive Committee.
%p 7.3 Without prejudice to other forms of communication with members of the Union, publication in the Irish Chess Journal (or other Irish Chess magazine officially recognised by the Executive Committee) of any of the matters referred to in rule 5.2 or rule 6.2 shall be deemed to be sufficient notice provided that the issue of the magazine containing such notice is posted to members not less than four weeks prior to the date of the intended meeting.
%p 7.4 No business shall be transacted at any General Meeting unless a quorum is present at the time when the meeting proceeds to business; the quorum shall consist of 9 persons entitled to vote at General Meetings of the Union.
%p 7.5 The Chairman of the Executive Committee or in his absence the Vice-Chairman of the Executive Committee shall preside at General Meetings. If the Chairman and Vice-Chairman are not present within 15 minutes after the time appointed for the holding of the meeting or are unwilling to act the members (including the members of the Executive Committee) who are present shall elect one of their number to act as Chairman of the meeting.
%p 7.6 Only fully paid members of the Union are qualified to receive notice of, to attend, speak or vote at General Meetings of the Union. However members of the Union who are under the age of sixteen  years on the previous 1st of January, shall be entitled to attend but not to vote at General Meetings.  Whether in the case of an AGM or an EGM, payment of  membership fees before the notice of the meeting is issued, shall determine eligibility to vote. However if an EGM is called within four months of an AGM, those who were eligible to vote at the AGM, will be considered eligible to vote at the EGM.
%p 7.7 Any motion must be seconded at the General Meeting before it may be discussed. A Motion or Resolution may be moved or seconded by the Executive Committee in its own name. Nothing in this rule shall operate so as to prevent guests of the Executive Committee from attending any general meeting of the Union and from addressing the meeting if so invited by the Chairman of the meeting. Motions shall not be accepted at any General Meeting of the Union of which three clear weeks prior notice shall not have been given unless:
%ol{style: "list-style: lower-alpha"}
  %li  They relate solely to the conduct of the meeting; or
  %li  They relate to a matter which could not reasonably have been the subject of a written Motion with the appropriate notice; or
  %li  In the opinion of the Chairman of the General Meeting they are of a minor nature.

%p 7.8 All questions arising at general meetings of the Union shall be decided by a majority of votes of the members present and voting. In the case of votes for the election of members of the Executive Committee, voting shall be by written ballot. Votes on all other questions shall be cast by a show of hands, unless the presiding Chairman shall decide otherwise.  In the event of a tied vote, (either in an election or on a motion), the presiding Chairman shall have an additional casting vote.
%p 7.9 The annual general meeting shall be held to receive the reports of the Hon. Secretary, the Hon. Treasurer, and of other members of the Executive Committee having specified executive functions, to approve the audited accounts of the Union, to elect the Executive Committee for the ensuing year, to appoint an auditor, and for the transaction of any other business.
%p 7.10 Accidental failure to advise any fully paid up individual member of the Union of any meeting shall not invalidate the holding of that meeting.

%a{name: "8"}
%h3 Article 8. EXTRAORDINARY GENERAL MEETINGS

%p 8.1 An Extraordinary General Meeting of the Union shall be convened by the Hon. Secretary at the request of the Chairman or on the written requisition of not less than 30 fully paid individual members of the Union. The requisition must state the objects of the meeting and must be signed by the requisitionists and may consist of several documents in like form each signed by one or more requisitionists.
%p 8.2 An extraordinary General Meeting must be convened by the Hon. Secretary of the Union within 60 days of the receipt by him or her of the request or requisition mentioned above. At least three clear weeks notice of the date, time and venue of the meeting and of motions for consideration at that meeting shall be given.
%p 8.3 The other rules of this Constitution applicable to general meetings shall also be applicable to Extraordinary General Meetings.

%a{name: "9"}
%h3 Article 9. MEMBERSHIP OF EXECUTIVE COMMITTEE

%p 9.1 No person shall be eligible to stand for election to membership of the Executive Committee unless that person:
%ol{style: "list-style: lower-alpha"}
  %li Is a fully paid up individual member of the Union; and
  %li Subject to rule 9.3 below, has been proposed in writing by a fully paid up member (such proposal to reach the Hon. Secretary prior to the notice of the Annual General Meeting being sent out) for a specific position; and
  %li Is seconded at the Annual General Meeting by a fully paid up member of the Union; and
  %li Subject to rule 7.3 gives at least 7 clear days notice in writing to the Hon. Secretary of the Union prior to the Annual General Meeting of his/her willingness to stand for election otherwise that person shall be deemed not to be qualified to stand.

%p 9.2 The Executive Committee shall consist of a Chairman, Vice Chairman, Secretary, Treasurer, Rating Officer, Membership Officer, Development Officer, Junior Officer, Tournament Director, Public Relations Officer, FIDE Delegate, Women's Officer and of one member nominated by each of the Provincial Unions.
%p 9.3 At each Annual General Meeting of the Union, one person shall be elected to each of the officer positions mentioned in Article 9.2. If the number of candidates qualified to stand for a position exceeds one, a ballot shall be held using the system of proportional representation (single transferable vote). In the event of a tie, the presiding Chairman shall have a casting vote.
%p 9.4 If no candidates have been validly nominated for a particular position, the Chairman shall accept nominations from the floor. If more than one candidate is validly nominated, a secret ballot shall be held among these candidates and the candidate attracting the greatest number of votes shall be declared elected.
%p 9.5 None of the successful candidates shall take up their positions until after the end of the meeting.
%p 9.6 In the event that there are no candidates for an Officer position at the Annual General Meeting, after nominations have been sought from the floor, the incoming Executive will have the power to nominate a member of the Union to carry out these duties. This power shall also apply in the event of casual vacancies arising over the course of a year.
%p 9.7 If one officer holds more than one Executive Committee position, that officer shall have only one vote.
%p 9.8 If an executive member misses 2 committee meetings during their term without apologies, they are deemed resigned.

%a{name: "10"}
%h3 Article 10. THE EXECUTIVE COMMITTEE

%p 10.1 The affairs of the Union shall be managed by the Executive Committee which may exercise all powers of the Union which are not by these rules required to be exercised by the Union in general meeting subject to any directions being not inconsistent with this constitution as may be given by the Union in general meetings; but no such direction given by the Union in general meetings shall invalidate any prior act of the Executive Committee which would have been valid if that direction had not been given.
%p 10.2 The Executive Committee shall have the power to make amend or repeal from time to time all such bye-laws regulations and standing orders consistent with this Constitution as it shall think expedient for the management and well being of the Union. It alone shall exercise the powers of the Union to award national chess or other titles connected with Irish Chess titles and to recommend to F.I.D.E. the award of F.I.D.E. titles.
%p 10.3 The members of the Executive Committee may meet together for the dispatch of business, adjourn or otherwise regulate their meetings as they think fit. Questions arising at any meeting shall be decided by majority vote of those present and voting. In the event of a tie the presiding Chairman shall have a second or casting vote. If the Committee so resolves, it shall not be necessary to give notice of a meeting of the Committee to any member of the Committee who being resident in Ireland is for the time being absent from Ireland.
%p 10.4 No business shall be transacted at any meeting of the Executive Committee unless five members of the Committee are present, either in person or by other communication method, at the time when the meeting proceeds to business.
%p 10.5 The Executive may appoint persons, who are not members of the executive, to carry out specific functions or responsibilities (e.g Team Selection, Tournament Director, Journal Editor, Arbitration, Membership of Disciplinary Committee), provided that any person appointed is a member of the Union and shall at all times be answerable to the Executive. No person given a function in this way shall be deemed to be a holder of an office and the Committee may deprive that person of his functions or responsibilities, if it considers they are not being carried out in a satisfactory way.
%p 10.6 The Executive may also appoint sub committees to carry out specific tasks or responsibilities. Sub Committees will normally be chaired by a Member of the Executive.
%p 10.7  There shall be a junior sub committee which shall have specific responsibility for promoting chess among those under 19 and for organising National Championships at various under age levels.  This Committee will be chaired by the Junior Officer elected at the Annual General Meeting. Each of the Provincial unions will have the right to nominate a delegate active in Junior Chess to this Committee  It  will have a wide level of independence in the organisation of its affairs and will have its own accounts. These accounts will be considered part of the ICU accounts and be subject to audit.

%a{name: "11"}
%h3 Article 11. THE PRESIDENT AND HONORARY VICE PRESIDENTS
%p 11.1 The Executive Committee shall have power to appoint a non-executive President of the Union and one or more non-executive Honorary Vice-Presidents, who shall not necessarily be fully paid up members of the Union. The functions and responsibilities of the President and of each of the Honorary Vice-Presidents shall be agreed from time to time between the Committee and the President, or the Committee and each Honorary Vice-President as the case may be, but the President and the Honorary Vice-Presidents shall have the right to attend and be heard at all general meetings of the Union and shall have the right to address the Executive Committee. While it is intended that the President shall hold office for a term of three years from the date of his/her appointment the Committee shall have power at any time to declare the office vacant if a resolution to this effect is passed by a majority of two-thirds of the total voting membership of the Committee provided always that the requirements of natural justice shall be observed by the Committee.
%p 11.2 The Executive Committee (and the Executive Committee alone) may recommend to an annual general meeting that a position of Honorary Officer or honorary membership of the Union for life be bestowed on any person, whether such a person is a fully paid up member of the Union or not.

%a{name: "12"}
%h3 Article 12. ACCOUNTS

%p Accounts of the Union shall be prepared in respect of each subscription year by the Hon. Treasurer and audited by an Auditor who shall be a qualified Accountant approved by the Union in general meeting. Copies of the accounts shall be available for inspection by fully paid up members of the Union at the Annual General Meeting and also on written request from any fully paid up member (including any body referred to in rule 4.1).

%a{name: "13"}
%h3 Article 13. DISCIPLINE

%p The Executive Committee may discipline by means of a fine or any other suitable penalty and/or suspend from membership of the Union any individual member or organisation who contravenes any of these rules or any of the bye-laws made by the Executive Committee or who in the opinion of the Executive Committee is guilty of unacceptable behaviour or has brought the Union into disrepute . In exercising these and other functions, The Executive shall ensure that the requirements of natural justice are observed before exercising its powers.

%a{name: "14"}
%h3 Article 14. NOTICES

%p Notices required to be given under the Constitution may be given in any of the following ways:
%ol{style: "list-style: lower-alpha"}
  %li By handing it to the intended recipient.
  %li By posting it to the postal address recorded in the ICU membership list.
  %li By delivering it by hand to the postal address recorded in the ICU membership list.
  %li By sending it through e-mail to the e-mail address recorded in the ICU membership list.
  %li By publishing it on the Irish Chess Union web-site.

%a{name: "15"}
%h3 Article 15. INDEMNITY

%p Every member of the Executive Committee and of any Sub-Committee established under 10.6 shall be indemnified by the Union against all actions claims demands costs damages and expenses (other than traveling expenses) incurred by such member in carrying out the duties assigned to him/her unless these arose as a result of any omission or unauthorised act on the part of such member.

%a{name: "16"}
%h3 Article 16. AMENDMENT OF INTERNATIONAL ELIGIBILITY CRITERIA

%p Any amendment of the 1998 ICU byelaw on international eligibility criteria should be by vote of the membership at a general meeting of time Union.

%a{name: "17"}
%h3 Article 17. ALTERATION OF CONSTITUTION

%p This constitution shall only be amended at an Annual General Meeting of the Union, or at an Extraordinary General Meeting of the Union specifically called for that purpose. The text of any amendments must be included with the notice convening the meeting and a two-thirds majority of those present and entitled to vote at any general meeting shall be necessary before any amendment is carried.
