= render "prev_next", page: :eligibility_criteria

%h1.text-center= t("icu.eligibility_criteria")

%ol
  %li
    A person is eligible to be selected to play for Ireland if that person was born in
    either Northern Ireland or the Republic of Ireland - hereinafter Ireland - or had
    either one or both parents born in Ireland, or is a citizen of the Republic of Ireland.
  %li
    A person not qualifying under the above criterion must have been resident in Ireland
    for a period of not less than two years as at 1st of January of the year in which the
    tournament takes place, and have been registered on the FIDE Rating List under IRL
    for a period of not less than one year as at 1st of January of the year in which the
    tournament takes place.
  %li
    A player qualifying under 1 above must also fulfil the following minimum activity criteria:
    12 ICU rated games (6 for female in 2014, 12 from 2016) in Ireland in the two years
    preceding the start date of a representative international tournament for which he is
    selected to play for Ireland, or alternatively, participation in at least one of the two
    Irish Senior Championships and 6 additional ICU rated games in Ireland in the two years
    preceding the start date of the representative international tournament for which he is
    selected to play for Ireland.
  %li
    A player qualifying under 2 above must also fulfil the following activity criteria:
    36 ICU rated games in Ireland within the preceding two year period. Additionally such
    players have a quota limit of one third (rounded down to the nearest integer) applied
    to them in any individual or team event.
  %li
    Any player selected who has not met the above requirements at the time of selection
    will be given until a fixed date, to be notified in advance by the ICU selection sub-committee,
    to fulfil the requirements. Failure to do so will result in the rescinding of the
    offered place. The date for final compliance with the activity requirements should
    not be less than six weeks prior to the start date of the tournament for which
    selection has taken place.
  %li
    The Irish Championships:
    %ol{style: "list-style: lower-alpha"}
      %li Different eligibility criteria may be applied to the Irish Senior Championship than the above.
      %li The Irish Champion shall be the highest placed native Irish player or citizen in the Senior event.
      %li The Irish Champion shall be selected automatically for representative Irish teams.
