= render "prev_next", page: :junior_eligibility_criteria

%h1.text-center= t("icu.junior_eligibility_criteria")

%p.small.text-center Last updated after 2006 AGM

%ol
  %li
    A person is eligible to be selected to play for Ireland if that
    person was born in either Northern Ireland or the Republic of
    Ireland - hereinafter Ireland - or had either one or both parents
    born in Ireland, or is a citizen of the Republic of Ireland.
  %li
    A person not qualifying under the above criterion must have been
    a resident in Ireland for a period of not less than two years as
    at 1st January of the year in which the tournament takes place.
  %li
    A player qualifying under 1 above must also fulfil the following
    minimum activity criteria: 12 ICU rated games in Ireland in the
    two years preceding the start date of a representative international
    tournament for which s/he is selected to play for Ireland and
    participation in at least one of the two Irish Junior Championships
    or the Irish senior championships preceding the start date of the
    representative international tournament for which s/he is selected
    to play for Ireland.
  %li
    Be a fully paid member of the ICU.
  %li
    Any player in contention to be selected who has not met the above
    requirements at the time of selection will be given until a fixed date,
    to be notified in advance by the ICU Junior Committee, to fulfil the
    requirements. Failure to do so will result in the rescinding of the
    offered place. The date for final compliance with the requirements
    should not be less than six weeks prior to the start date if the
    tournament for which selection has taken place.

%p
  Please note that all junior players are requested to supply accurate
  date of birth information when joining the ICU. Failure to do so may
  result in players not being considered for international selection.
