= render "prev_next", page: :membership_byelaws

%h1.text-center= t("icu.membership_byelaws")

%ol
  %li
    Definitions:
    %ol{style: "list-style: lower-alpha"}
      %li ICU, IJCA and ICCA mean the Irish Chess Union, Irish Junior Chess Association and Irish Correspondence Chess Association.
      %li
        "Competition" means any tournament, league, match or any other competition in which ICU
        members participate, including "rapid chess" competitions but excluding both internal club
        championships, speed and lightning chess events, and events under the auspices of the IJCA
        and ICCA or the Community games.
      %li "Controller" means the organiser(s) and/or controller(s) of any chess competition.
      %li
        "Subscription year" means the period of 12 months commencing on the 1st day of September and ending on the 30th day of August,
        or in exceptional circumstances as determined by the Executive Committee.
  %li
    A Capitation Fee shall be payable by each player to the ICU at a rate of €35 per Subscription Year,
    this fee to be called the "standard fee", except for players 65 and over on the following 1 January
    who shall pay a fee of €20, players not earming an income who shall pay a fee of €20,
    players under 18 on the following 1 January who shall pay a fee of €20 and
    players under 12 on the following 1 January who shall pay a fee of €15 (or sterling equivalents).
  %li
    The Capitation Fee is due and payable in full on or before the 1st day of September of any subscription year and,
    without prejudice to this, players wishing to take part in any competition who are liable to pay a Capitation Fee
    must register with the ICU and pay the appropriate Capitation Fee before taking part.
  %li
    Controllers shall be responsible for ensuring that all participants in any competition who are
    liable to pay Capitation Fees are registered as ICU members, and shall be entitled to accept
    membership applications on entry to any competition. In the event of any breach of this Bye-Law
    by a Controller, that Controller shall be responsible to the ICU for any loss of revenue suffered
    by the ICU as a result of such breach.
  %li Clubs and/or provincial unions may submit individual ICU membership applications on behalf of their members.
  %li
    On registering with the ICU each player must furnish the following information:
    %ol{style: "list-style: lower-alpha"}
      %li Full name
      %li Home address
      %li Rating (if any)
      %li Date of birth (if under 21)
      %li Club (if any)
  %li
    A player shall be deemed to become a member of the ICU when both the information required by
    Bye-Law 6 has been provided and that player's subscription has been received by the Hon.
    Treasurer of the ICU provided always that the Executive Committee of the ICU shall have the
    absolute right to refuse any application for membership. A person must be a paid-up member of
    the Union at least two weeks before an Annual General Meeting for the purposes of attending or
    voting at that meeting.
  %li
    Once a player is deemed to be a member of the ICU, the ICU will arrange for the information
    on that player mentioned in Bye-Law 6 to be entered on its membership list. Copies of the
    updated membership list of the ICU shall be made available to Controllers, Organisers and
    constituent bodies and in the case of a tournament sanctioned by the ICU, it shall be made
    available to the Controller of that tournament not less than seven days prior to its
    commencement.
  %li
    Individual membership of the ICU shall entitle the individual member to participate
    in all competitions as defined herein without payment of any additional fee, subscription or any
    other levy to the ICU, and shall entitle the individual members who pay standard
    fees and junior fees as set out in Rule 2 hereof, to receive by post the Irish Chess Journal, free of
    charge. The ICU will take over financial responsibility for the running of the Irish
    Chess Journal and out of the membership fees paid to the ICU shall make sufficient
    funds available for the publication and circulation of same to individual members.
  %li
    Foreign players whose ordinary residence is outside the island of Ireland shall not be subject
    to payment of any fee or subscription to the ICU for participating in Irish
    tournaments (other than the Irish Chess Championships), upon production of proof that
    they are affiliated to another national body which is a member of FIDE.
  %li
    The ICU may, and any of its provincial associations or affiliated bodies shall, if so directed by
    the ICU, decline to sanction or rate any competition unless all participants who are liable to pay
    Capitation Fees are registered as ICU members provided however that any chess event which
    does not fall within the definition of "competition" in Bye-Law 1(b) may be rated by the ICU
    on payment of a flat rate fee of ten pounds or a fee of fifty pence per participating player
    whichever is the greater, provided that all the participants in such an event shall have become
    members of the ICU before the event is rated.
  %li
    The Executive Committee, when fixing the venues for general meetings of the Union, shall
    always have regard to the accessibility of the venue to individual members of the Union.
  %li
    A copy of these Bye-Laws should be available to all members attending the Annual General
    Meeting and include any amendments since the previous Annual General Meeting. Copies should
    be available to members at all other times on payment of a nominal fee as set by the Executive
    Committee.
