- content_for :title, t("icu.ncc_rules")

= render "prev_next", page: :ncc_rules

%h1.text-center= t("icu.ncc_rules")

%p.small.text-center Last updated: January 2012

%p
  The Irish National Club Championships will be held annually. It will be run by the Irish Chess Union's tournament director;
  or, if that is not possible, the chairperson of the ICU has the responsibility to ensure the event is held.
  The Championship rules are as follows.
%ol
  %li The INCC will be a Swiss format team event run over one weekend which will be the last full weekend in April, unless this is the Easter weekend, in which case it shall be held at a weekend as close to this weekend as is practical.
  %li The venue will rotate between the provinces. It should be held in Leinster in alternate years and in each of Munster and Connaught one year in every four.
  %li Any Club in Ireland (all 32 counties) which is registered with the Irish Chess Union will be entitled to enter a team. A club may enter only one team.
  %li The ICU shall set a small entry fee per team to help offset the costs of running the event. This fee must be paid before the start of the event.
  %li The number of rounds will be determined by the number of teams that enter in any particular year. Normally it will be a four round event, with 2 rounds on the Saturday and 2 rounds on the Sunday; but if more than 16 teams enter, a 5 round event will be needed.
  %li The ICU shall appoint an arbiter for the event. He/she shall obtain details of the players competing well in advance of the event and use the latest ICU ratings to determine the seeding of each team. FIDE ratings will be used if a player does not have an ICU rating. He/she should carry out the normal duties of tournament arbiter, provide suitable reports to the ICU and in particular the ICU PRO, and submit the event for ICU and FIDE rating.
  %li The time control will be 1:30 for all moves + 30 sec per move applied from move 1.
  %li The two top placed teams will qualify for the European Club Cup later the same year.
  %li In the event of a team declining their place in the European Club Cup, the ICU's tournament director shall offer the place in the ECC to the next highest placed team and continue until the place is filled.
  %li The appointed team will be required to secure their place with a refundable deposit of the ECC entry fee (currently &euro;300). This deposit will be refunded to the club upon their return from the ECC. Should the team decline to pay this deposit in a timely manner, the ICU tournament director may decide to allocate the slot to the next team as per point 9.
  %li Teams will consist of 6 players and a maximum of 2 substitutes.
  %li The average rating of the top six players on each team must be at least 1600 on the latest ICU rating list. There is no restriction as to the strength of the substitutes.
  %li Each team captain must submit his or her team before the deadline set by the arbiter and must declare a board order including the order of the substitutes. There is no restriction on how the board order is decided. When entering a team, the captain must also furnish both the ICU code and FIDE ID of each of his players.
  %li The declared board order cannot be changed; players will always play in board order and substitutes will always play on the lowest boards, also in descending order.
  %li In the event of a player having to pull out before the event, replacement players can only be used with the express permission of the appointed arbiter.
  %li All players must be members of the Irish Chess Union, irrespective of their nationality. Any player who, seven days in advance of the start of the tournament, is not registered with the ICU will not be eligible to play in the event.
  %li
    All players must be members of the club they are representing. For the purposes of these rules, in order to be considered a member of the club, a player must satisfy at least one of the following conditions (or an equivalent at the discretion of the arbiter):
    %ol{style: "list-style: lower-alpha"}
      %li He/she has played for the club in at least two previous National Club Championships.
      %li He/she has played for the club in a provincial league at least three times in the current season.
      %li He/she lives or works within the local area of the club.
    The team captain may be required to provide evidence to substantiate a player's bona fides to the arbiter, if there is any doubt. If proof is not forthcoming, or, in the opinion of the arbiter, the evidence provided is insufficient, then the player will not be eligible to play for that club. The arbiter's decision on this rule will be final.
  %li If any club fields an ineligible player, then any points won by the ineligible player(s) will be deducted and awarded to their opponents, and also any points gained on boards lower than that on which the infringement took place shall be likewise deducted and awarded to their opponents.
  %li Primary scoring will be done on match points.
  %li Secondary scoring will be done on game points.
  %li
    Teams shall not share the title of National Club Champion. In the event of the game point tie break not deciding the winner, the following shall be applied:
    %ol{style: "list-style: lower-alpha"}
      %li A re-count of all game points for the tied teams discounting the board 6 scores.
      %li A re-count of all game points for the tied teams discounting the board 5 scores.
      %li The result of the match between the tied teams, if they played each other.
      %li A re-count of all the game points for the tied teams discounting the board 4 scores.
      %li A re-count of all the game points for the tied teams discounting the board 3 scores.
