- content_for :title, t("icu.officer_roles")

= render "prev_next", page: :officer_roles

%h1.text-center= t("icu.officer_roles")

%p
  This is an unofficial guide to the responsibilities and duties of the various ICU officers.
  You should read this if you're thinking of volunteering for ome of the executive positions
  or if you already have and are just starting. If you're already an experienced officer,
  please consider suggesting improvements to this advice if it's become out-of-date.

%ul
  %li
    %a{href: "#general"} General Responsibilities
  %li
    %a{href: "#arbitration_officer"} Arbitration Officer
  %li
    %a{href: "#chairperson"} Chairperson
  %li
    %a{href: "#development_officer"} Development Officer
  %li
    %a{href: "#fide_delegate"} FIDE Delegate
  %li
    %a{href: "#icj_editor"} Irish Chess Journal Editor
  %li
    %a{href: "#junior_officer"} Junior Officer
  %li
    %a{href: "#membership_officer"} Membership Officer
  %li
    %a{href: "#ratings_officer"} Ratings Officer
  %li
    %a{href: "#president"} President
  %li
    %a{href: "#public_relations_officer"} Public Relations Officer
  %li
    %a{href: "#secretary"} Secretary
  %li
    %a{href: "#tournament_director"} Tournament Director
  %li
    %a{href: "#treasurer"} Treasurer
  %li
    %a{href: "#vice_chairperson"} Vice Chairperson
  %li
    %a{href: "#womens_officer"} Womens Officer
  %li
    %a{href: "#delegates"} Delegates of Affiliated Bodies

%a{name: "general"}
%h3 General Responsibilities

%p.small Last updated: September 2010.

%p The following applies to Executive members of the Committee only.

%ul
  %li To attend all meetings of the executive committee.
  %li To support all decisions of the executive committee, in accordance with the principle of collective responsibility.
  %li To make a report to each meeting on their activities since the last meeting. If reports are detailed they should be submitted in writing to the Secretary to facilitate accurate minute-taking.
  %li To report to members at the AGM. Reports should be submitted in advance to the Secretary for publication on the website.

%a{name: "arbitration_officer"}
%h3 Arbitration Officer (non-executive)

%p.small Last updated: August 1997.

%ul
  %li To advise the executive committee, including the Tournament Director, on matters relating to the Laws of Chess.
  %li To run informational seminars for the benefit of tournament organisers.
  %li To be available to all ICU members for consultation on issues relating to the Laws of Chess.

%a{name: "chairperson"}
%h3 Chairperson

%p.small Last updated: August 1997.

%ul
  %li To act as chief executive officer of the Union, making both major decisions for subsequent ratification by the executive committee, and minor decisions of a day-to-day nature, following consultation with appropriate officers.
  %li To ensure that decisions of the members of the Union made in general meeting, and decisions of the Executive Committee, are carried out properly by the appropriate persons.
  %li To chair meetings of the Executive Committee for the purpose of ensuring that Union policy is being properly carried out, and to deal with ongoing affairs of the Union. The agenda of each meeting should be agreed with the Secretary and circulated to all Committee members in advance of each meeting.
  %li To ensure that the Constitution is observed in all procedures relating to Union matters.
  %li To be fully informed on all aspects of the business of the Union in order to carry out the above duties.

%a{name: "delegates"}
%h3 Delegates of Affiliated Bodies

%p.small Last updated: August 1997.

%p Affiliated bodies such as Connaught, Leinster, Munster and Ulster Chess Unions and the Irish Universities Chess Association.

%ul
  %li To act as full members of the executive committee including full participation at meetings and carrying out any tasks assigned by the committee.
  %li To act as delegates of the affiliated body, i.e. to report on the proceedings of executive committee meetings to the affiliated body, and in turn to represent the views of the affiliated body at executive committee meetings.

%a{name: "development_officer"}
%h3 Development Officer

%p.small Last updated: August 1997.

%ul
  %li To maintain a long-term view of the development of the Union, and to advise the executive committee where decisions taken may be in conflict with long-term policy goals. Also to recommend major policy changes to the executive committee.
  %li To ensure that ICU services are being adequately provided to members, and to monitor feedback from members on shortcomings in ICU services.
  %li To ensure that new members and newcomers to the game are accommodated in terms of starter packs, information on clubs, etc.
  %li To ensure that the .pay to play. policy is enforced.

%a{name: "fide_delegate"}
%h3 FIDE Delegate

%p.small Last updated: September 2008.

%ul
  %li Represent Ireland in the General Assembly of FIDE, which meets every two years.
  %li Act as intermediary between ICU and FIDE.
  %li Support title applications from Irish players and organizers.
  %li Ensure Ireland is invited to all appropriate team and individual events.
  %li For further insights see <a href="/articles/display.php?id=199">Kevin O'Connell's article.

%a{name: "icj_editor"}
%h3 ICJ Editor (defunct)

%p.small Last updated: June 2014.

%p.small The following applies when an editor is active, which currently (2014) has not been the case for some years.

%ul
  %li To solicit material for the journal from contact players, tournament organisers, etc.
  %li To edit material to make it clear, correct, concise, comprehensible, and consistent.
  %li Typically, to be the author of some of the material.
  %li To publishing the Journal at least twice a year. Currently practice is to produce a PDF file and upload to the ICU website for distribution.

%p Estimated workload: approximately 60 hours of free time twice a year, usually around January/February and July/August.

%a{name: "junior_officer"}
%h3 Junior Officer

%p.small Last updated: August 1997.

%ul
  %li To chair the Junior sub-committee and observe its standing orders.
  %li To report to the executive committee on matters relating to junior chess.
  %li To report to the AGM on matters relating to junior chess.

%a{name: "membership_officer"}
%h3 Membership Officer

%p.small Last updated: November 2013.

%ul
  %li To collect membership fees via postal subscriptions, or whatever method is agreed by the committee.
  %li To arrange that fees received are passed to the treasurer for lodgment, together with appropriate backup documentation.
  %li To update the membership database.
  %li To deal with membership queries.
  %li To report to the executive committee on trends in membership renewals, and also to the AGM.

%a{name: "ratings_officer"}
%h3 Ratings Officer

%p.small Last updated: July 2013.

%ul
  %li To be familiar with the operation of the ICU rating system by all its users (players, reporters and the rating officer).
  %li To respond to players or reporters requesting assistance on how to use the rating system.
  %li
    To use the rating system to:
    %ul
      %li rate tournaments played in Ireland and certain other foreign tournaments where ICU members compete (such as the Olympiad and Glorney),
      %li publish rating lists of members at regular intervals,
      %li fix reporting errors (mis-identified players, incorrect game results, etc) and rerate/republish affected tournaments/lists as required.
  %li To encourage reporters to submit as early as possible and to liase with tournament organisers when reports are late.
  %li To maintain the rating system software (fix bugs, upgrade dependencies, add features) or work with someone with the necessary computer skills to do so.
  %li To assist the membership officer to maintain accurate information on all members.
  %li To audit the ICU rating pool in terms of inflation/deflation or work with someone with the necessary analysis skills to do so.
  %li
    In regard to the FIDE rating of Irish tournaments:
    %ul
      %li to be familiar with FIDE's procedures, regulations and fees,
      %li to register Irish tournaments for FIDE rating on request from tournament organisers,
      %li to submit rating reports for registered tornaments,
      %li to liase with tournament organisers when their reports for submission to FIDE are late,
      %li to update FIDE data held on Irish players as required.

%a{name: "president"}
%h3 President (non-executive)

%p.small Last updated: August 2007.

%p
  This is a special non-executive role which is filled if a suitable candidate
  (an experienced person with a thorough knowledge of Irish chess affairs) is available.

%ul
  %li To keep an objective eye on the overall activities of the ICU.
  %li To act as an advisor to the executive, especially for important decisions or in times of crisis.
  %li To act as a figurehead on special occasions (e.g. international events, media events).

%a{name: "public_relations_officer"}
%h3 Public Relations Officer

%p.small Last updated: August 1997.

%ul
  %li To represent the Union in discussions with outside parties such as regulatory bodies or the media.
  %li To be available at major events to promote the Union and the game of chess, and to liaise with the media.
  %li To develop media contacts so that Union events and views can receive timely and favourable publicity.
  %li To maintain a file of promotional materials, including press cuttings on chess.
  %li To liaise with the Sponsorship sub-committee, in particular with regard to promotional materials.

%a{name: "secretary"}
%h3 Secretary

%p.small Last updated: August 2007.

%ul
  %li To deal with the Union's correspondence (email and post).
  %li To deal with FIDE and ECU or delegate to the appropriate officer (e.g. Treasurer for fees, Rating Officer for ratings) and to advise the executive committee on international affairs.
  %li To advise the executive committee on matters relating to the Constitution and Bye-Laws.
  %li To ensure that official notices of the Union and other information for the benefit of members is published in the magazine and on the website.
  %li To record the minutes of general meetings of the Union and executive committee meetings, and circulate the latter to executive committee members in advance of the next meeting, together with the agenda for that meeting.
  %li To oversee and coordinate the activities of subcommittees (e.g. selection committees for international events).

%p Estimated workload: approximately 5 hours per week plus time for attending ICU meetings.

%a{name: "tournament_director"}
%h3 Tournament Director

%p.small Last updated: August 2007.

%ul
  %li To maintain a calendar of events which should be continually updated and published in the magazine and the website.
  %li To ensure that the ICU Tournament Regulations are observed, and make recommendations on amendments to them. They include a requirement that tournaments be notified in advance to the ICU Tournament Director, and that he receive a report on the tournament when it is over.
  %li To monitor feedback from players and officials about the conduct of tournaments, liaise with the Arbitration Officer as necessary, and arrange publication of articles and notices regarding tournament administration, disputes, etc. in the magazine or website where appropriate.
  %li To advise the executive committee on matters such as calendar clashes, disputes at tournaments, events disregarding ICU membership requirements, etc.
  %li
    To ensure that certain events are run each year. This includes obtaining and examining proposals for the hosting of these events,
    and monitoring them until the events are successfully concluded. Where no proposals are received for any event, the Tournament
    Director must find someone to run it, if necessary himself. The events involved are:
    %ul
      %li Irish Championships
      %li Irish Open
      %li Interprovincial Championships
      %li National Club Championships
    Separate rules exist for each of these events; the Tournament Director should ensure that these are observed as far as possible.

%a{name: "treasurer"}
%h3 Treasurer

%p.small Last updated: August 2007.

%ul
  %li To report on the Union's financial position at each executive committee meeting.
  %li To prepare and update a budget for each financial year.
  %li To maintain the Union's bank accounts.
  %li To maintain records of income (membership fees and other income e.g. advertising revenue, tournament rating fees) and expenditure. Membership fee record-keeping should be co-ordinated with the membership officer.
  %li To prepare financial statements for each year, submit them to the Auditor, and present them at the AGM.
  %li To liaise with international bodies (such as FIDE and ECU) or organising committees (e.g. Olympiads) regarding payment of ICU fees.

%a{name: "vice_chairperson"}
%h3 Vice Chairperson

%p.small Last updated: August 1997.

%ul
  %li To carry out any tasks at the request of the Chairperson, including the chairing of sub-committees.
  %li To chair executive committee meetings in the absence of the Chairperson.
  %li Where the Chairperson has relinquished his post, to assume his normal duties until such time as a new Chairperson is appointed.
  %li To be fully informed on all aspects of the business of the Union in order to carry out the above duties.

%a{name: "webmaster"}
%h3 Webmaster (non-executive)

%p.small Last updated: August 2014.

%ul
  %li To maintain the ICU's web servers, databases and application code.
  %li To be familiar with all the web technologies currently used by the ICU.
  %li To assist with website content management but not necessarily be the primary editor. Ccontent management is expected to be a collaborative effort where the chief role of the webmaster is to provide editorial tools (for Website Editors) and, where necessary, help with their use.
  %li To advise the executive on the feasability of changes or additions to website features.
  %li To implement changes to or new features for the web servers.
  %li To maintain a secure list of all accounts used to access the ICUs assets and external services.
  %li To ensure payments to service providers are made in good time.
  %li To maintain backup and recovery plan to cater for server and/or database crashes.
  %li To provide a disaster recovery plan to cater for the sudden unavailability of the webmaster.

%a{name: "womens_officer"}
%h3 Womens Officer

%p.small Last updated: August 2007.

%ul
  %li To develop initiatives for the promotion of chess amongst women players.
  %li To assist in the planning and running of events for women chess players.
  %li To report and advise the executive on issues relating to women's chess.
