= render "prev_next", page: :selection_committee

%h1.text-center= t("icu.selection_committee")

%h2.text-center Terms of Reference

%ol
  %li
    The Irish Chess Union is required under its Constitution to fulfil Ireland's
    international chess obligations. The task of selecting individuals and
    teams to represent their country is delegated to a special sub-committee
    known as the International Selection Committee (ISC).
  %li
    The ISC consists of no more than six individuals who should be appointed
    by the Executive Committee at its second meeting after the AGM in
    even-numbered years. The term of office of the ISC is two years:
    from 1 January in odd-numbered years to 31 December in even-numbered years.
  %li
    The ISC selects individuals and teams for senior and junior events
    commencing between 1 January of its first year and 31 December of its
    second year. Permission to select for events commencing after the
    latter date must be sought from the Executive Committee.
  %li
    Any vacancies arising in the ISC may be filled by the Executive Committee,
    or allowed to continue as they see fit.
  %li
    The chairman of the ISC is appointed by the Executive Committee.
  %li
    The ISC should appoint one of its members to act as secretary;
    he/she may also be the chairman. The secretary's duties include:
    %ol{style: "list-style: lower-alpha"}
      %li Maintaining contact information on top players.
      %li Receiving tournament notifications from the ICU secretary.
      %li Entering into such correspondence with players and organising federations as is required.
      %li Informing players of their selection in writing and confirming their availability.
      %li Informing the ICU secretary of selections and availability in writing.
  %li
    The Executive Committee retains the right of veto over decisions made
    by the ISC with regard to (a) selection of individuals for individual events,
    and (b) selection of teams for team events. In the latter case the team is
    treated as a unit, and can only be accepted or rejected en bloc. Players should
    be informed that their selection is subject to Executive Committee approval.
  %li
    Eligibility for selection: all individuals considered for selection should be
    registered ICU members. The chairman should obtain an updated list of members
    from the Membership Officer in advance of each meeting. Where the meeting takes
    place within three months of the commencement of a new membership year, membership
    in the preceding year may be accepted as sufficient.
  %li
    The detailed rules governing eligibility are set out <a href="/icu/eligibility_criteria">here</a>.
    They cover senior events only, not junior events (up to U20). Activity requirements
    for women are 50% those of men.
  %li
    Any queries relating to eligibility of players should be referred to the Executive Committee
    (or in cases of urgency the Chairman) together with any relevant documentation.
  %li
    The ISC should meet as often as is necessary to transact its business.
    A written report on each meeting, detailing the conclusions of the committee
    but not the reasons for them, should be submitted to the ICU secretary.
    The quorum for each meeting is three. Travel expense claims should be
    submitted to the ICU treasurer.
