= render "titles", text: "help.password_reset"

%p
  Passwords are encrypted in the databases and there's no way to recover them if they're forgotten.
  Instead, users who have forgotten their password are
  %a{href: "/help/accounts#forgot"} instructed
  to contact the webmaster and request a new one to be set.

%h3 Check the Request
%p
  Before setting a new password, the webmaster should check that the user requesting the reset is who they claim to be.
  In the ideal case, the user would:
%ul
  %li
    State their name and ICU number (which would match when checked in the
    = succeed(").") do
      %a{href: "/players"} players list
  %li Send their request from the same email address as used for their login username.
  %li
    Correctly quote their last season ticket (see
    %a{href: "/help/overview#check_ticket"} here
    to find out how to check the validity of season tickets).
%p
  If a request is received that is lacking any of the above, the webmaster should use their own judgement when deciding whether to proceed.
  Note that if a valid season ticket is quoted but it's ICU number doesn't match the user's, then the request should be regarded with suspicion.
%p There are two ways of reseting the password, differing only in how long before both websites (<em>www</em> and <em>ratings</em>) acquire the change.

%h3 Update via the Ratings Site

%p
  The quickest way is to perform the reset from the <em>ratings</em> site because, immediately after the change is made,
  it's synchronized from the <em>ratings</em> database to the <em>www</em> database.
%ul
  %li Login as the webmaster to the ratings site.
  %li Find the user in the <em>Users</em> list (under <em>Admin</em>).
  %li Click on their email address.
  %li Click the edit icon (looks like a pencil and paper).
  %li Think up a new password and enter it in the <em>New Password</em> field.
  %li Click <em>Update</em>.
  %li Send the user their new password and suggest they invest in a password manager app.

%h3 Update via the This Site

%p
  This method will update the <em>www</em> database immediately but the update to the <em>ratings</em> database
  won't happen until the daily sync runs sometime in the early hours of the morning. If you use this method,
  warn the user that their new password won't work on the <em>ratings</em> site until the next day.
%ul
  %li Login as the webmaster to this site.
  %li
    Find the user in the
    %a{href: "/admin/users"} Users
    list.
  %li Click on their email address.
  %li Click the <em>Edit</em> button.
  %li Think up a new password and enter it in the <em>Password</em> field.
  %li Click <em>Save</em>.
  %li Send the user their new password and suggest they invest in a password manager app.
