.row
  .col-sm-1
  .col-sm-10
    = form_for [:admin, @relay], html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        = render "utils/form_header", object: @relay, atr: :from
        - locals = { form: f, object: @relay, col: "sm", pad: 3, width: 4 }
        = render "utils/select_for", locals.merge(param: :officer_id, text: t("officer.officer"), menu: officer_menu(@relay.officer_id))
      = render "utils/form_buttons", form: f, object: @relay, admin: "index show"
