= form_tag admin_failures_path, method: :get, class: "form-inline", role: "form" do
  = render "utils/inline_text_field", param: :name, text: "Name", size: 12
  = button_tag t("search"), type: "submit", class: "btn btn-default pull-right"
