- content_for :title, t("errors.error")

%h1.text-center= t("errors.error")

%p
  The page you just requested is not meant to be accessed this way
  (technically speaking, it's only designed to be requested in an Ajax call).
  Somehow, you have (or the browser/agent you're using has) gone outside the normal flow of requests for this web application.
%p If you're a robot or hacker, please try to be a bit smarter about which links you choose to follow and how.
%p If you're a human, consider using a different browser or not turning JavaScript off.
