- if pager.multi_page
  - if defined?(columns)
    %tr
      %td{colspan: columns, class: "text-center"}= pagination_links(pager)
  - else
    .row
      .col-xs-4
      .col-xs-4.text-center.well.well-sm= pagination_links(pager)
