- defined?(ability)    || ability    = nil
- defined?(created_by) || created_by = nil
- defined?(dt_format)  || dt_format  = :nosec
- defined?(tdth)       || tdth       = false
- defined?(two_col)    || two_col    = false
- defined?(updated_by) || updated_by = nil

- if (ability.nil? || can?(ability, object)) && (object.respond_to?(:updated_at) || object.respond_to?(:created_at))
  - locals = { datetime: object.updated_at, dt_format: dt_format, tdth: tdth }
  - if two_col
    %tr
      = render "utils/datetime_row", locals.merge(text: t("updated_at"), done_by: updated_by)
      = render "utils/datetime_row", locals.merge(text: t("created_at"), done_by: created_by)
  - else
    - if object.respond_to?(:updated_at)
      %tr
        = render "utils/datetime_row", locals.merge(text: t("updated_at"), done_by: updated_by)
    - if object.respond_to?(:created_at)
      %tr
        = render "utils/datetime_row", locals.merge(text: t("created_at"), done_by: created_by)
