%hr
%h3.text-center Refunds
.row
  .col-xs-1
  .col-xs-10
    %table{class: "table table-striped"}
      %thead
        %tr
          %th Amount
          %th Officer
          %th Date/Time
          %th Error
      %tbody
        - cart.refunds.each do |refund|
          %tr
            %td= euros(refund.amount)
            %td= refund.user.player.name
            %td= refund.created_at.to_s(:db)
            %td= refund.error || "None"
