#charge_modal{class: "modal fade", tabindex: "-1", role: "dialog", "aria-labelledby" => "modal_label", "aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", class: "close", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
        %h4.modal-title#modal_label Stripe Charge
      .modal-body
        %pre{id: "charge_modal_data"}
