- content_for :title, t("user.preferences")

%h3.text-center= t("user.preferences")
%hr
.row
  .col-sm-7.col-sm-offset-4
    = form_tag update_preferences_path, class: "form-horizontal", role: "form" do
      - locals = { col: "sm", pad: 3, width: 3 }
      = render "utils/select_tag", locals.merge(param: "user[theme]", text: t("user.theme"), menu: user_theme_menu(@user.preferred_theme), auto: true)
      = render "utils/select_tag", locals.merge(param: "user[locale]", text: t("user.locale"), menu: user_locale_menu(@user.locale), auto: true)
