- content_for :title, "Shop"

.row
  .col-md-6.col-md-offset-3
    %table{class: "table table-bordered"}
      %tbody
        %tr
          %th{colspan: 2, class: "text-center"}=t("fee.type.subscriptions")
          - if @subscription_fees.count > 0
            - @subscription_fees.each do |fee|
              %tr
                %td= link_to fee.description, fee
                %td{class: "righted"}= euros(fee.amount)
        %tr
          %th{colspan: 2, class: "text-center"}=t("fee.type.entries")
          - if @entry_fees.count > 0
            - @entry_fees.each do |fee|
              %tr
                %td= link_to fee.description, fee
                %td{class: "righted"}= euros(fee.amount)
