.row
  .col-xs-12.text-center
    %h2 Under Construction
.row
  .col-sm-2
  .col-sm-8
    %p
      This will be the new web site for the ICU. There will be a transition period during which some functions
      will be available here and some on the
      = link_to "old site", "http://www.icu.ie"
      until roughly the summer of 2014 when everything should have been moved over and the old site can be retired.
      The list below gives an indication of current progress.
    %ul
      %li Users
      %li English/Gaelic
      %li Players
      %li Help
      %li Shop
      %li Images
      %li Calendar
      %li Games
      %li Tournaments
      %li News
      %li Articles
      %li Juniors
      %li Votes
