.row
  .col-xs-12.text-center
    %h2 Under Construction
.row
  .col-sm-3
  .col-sm-6
    %p
      This will eventually be the new web site for the ICU. During a transition phase lasting
      from August 2013 to (roughly) June 2014 some functions will be available here and some on the
      = link_to "old site", "http://www.icu.ie"
      until everything is finally moved over and the old site can be retired.
      Right now, there's nothing much to get excited about here but watch this space.
    %p
      The list below gives an indication of what's been done and what's still left to do.
    %ul
      %li= render partial: "todo", locals: { topic: "Users", items: {sessions: true, logins: true, admin: true, preferences: false} }
      %li English/Gaelic
      %li Members
      %li Shop
      %li Help
      %li Images
      %li Calendar
      %li Games
      %li Tournaments
      %li News
      %li Articles
      %li Juniors
      %li Voting
