- content_for :title, "New Fee"

- if @fee.type.present?
  = render "form"
- else
  %h2.text-center= "New Fee"
  .text-center.voffset3
    - Fee::TYPES.each do |type|
      = link_to t("fee.type.#{Fee.subtype(type)}"), new_admin_fee_path(type: type), type: type, class: "btn btn-info"
