%p
  - id = "user_input_#{index}"
  %em
    = succeed(":") do
      = label_tag id, input.label, style: "font-weight: normal"
  = check_box_tag "item[notes][]", input.label, false, id: id, class: "pull-right"
