- content_for :title, t("shop.cart.cart")

.row
  .col-md-12.text-center
    = link_to t("shop.cart.continue"), shop_path, class: "btn btn-info btn-md"
    - if current_cart && current_cart.items.count > 0
      = link_to t("shop.cart.checkout"), card_path, class: "btn btn-success btn-md"
      - if can?(:create, CashPayment)
        = link_to t("shop.payment.received"), new_admin_cash_payment_path, class: "btn btn-success btn-md"
%hr
= render "items", cart: @cart, deletable: true
