- content_for :title, t("shop.cart.completed")
- content_for :javascript do
  = render "toggle_cart.js"

%h3.text-center= t("shop.cart.completed")
%hr
- @completed_carts.each_with_index do |cart, i|
  = render "cart_summary", cart: cart, number: i + 1, toggle: true
  = render "items", cart: cart, hidden: true
  %hr