.span2
.span8
  %table.table.table-bordered
    %tr
      %th ICU #
      %td= @player.id
    %tr
      %th Last Name
      %td= @player.last_name
    %tr
      %th First Name
      %td= @player.first_name
.span2
