- btn_text = t("item.select_member")
- btn_alt = t("item.reselect_member")

%button{id: "player_ids_button", class: "btn btn-info btn-sm", "data-toggle" => "modal", "data-alt" => btn_alt, "data-target" => "#player_ids_modal"}= btn_text
