- content_for :title, t("errors.error")

.row
  .col-md-8.col-md-offset-2
    %h1.text-center= t("errors.error")
    %hr
    %p
      If you just clicked the arrow controlling whether the banner header is
      displayed at the top of ICU web pages then either the page had not
      completely loaded or your browser has JavaScript disabled.
    %p
      Please wait for the page to finish loading or enable JavaScript.
      If you use Internet Explorer, version 10 or later is recommended.
    %hr
