- content_for :title, t("fee.type.entries")

.row
  .col-md-6.col-md-offset-3
  
    %h1.text-center= t("fee.type.entries")

    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th=t("fee.description")
          %th=t("fee.amount")
      %tbody
        - @fees.each do |f|
          %tr
            %td= link_to f.description, [:admin, f]
            %td{class: "righted"}= euros(f.amount)

    = link_to "New", new_admin_entry_fee_path, class: "btn btn-info"
