= render "fees/detail", term: "Valid from", desc: fee.start_date.to_s
= render "fees/detail", term: "Valid to", desc: fee.end_date.to_s
= render "fees/detail", term: "Name & ID", desc: player_name, id: "player_name"
