= render "fees/detail", term: t("fee.start"), desc: fee.start_date.to_s
= render "fees/detail", term: t("fee.end"), desc: fee.end_date.to_s
= render "fees/detail", term: t("member"), desc: "", id: "player_name"
