/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/* Text styling. */
.text-done { text-decoration: line-through; }

/* Indicator for maintenance mode. */
#maintenance {
  position: fixed;
  top: 0;
  left: 43%;
  z-index: 50;
  background: red;
  color: white;
  font-weight: bold;
  padding: 0.4em;
  border: 1px solid yellow;
  border-top: 0;
}

/* Vertical offsets and centering. */
.voffset1 { margin-top: 10px; }
.voffset2 { margin-top: 15px; }
.voffset3 { margin-top: 20px; }
.vcenter { vertical-align: middle !important; }

/* To stop text wrapping */
.no-wrap { white-space: nowrap; }

/* For articles */
#article table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
#article table.blank
{
  border-style: none !important;
}
#article table.left-aligned
{
  margin-left: 0;
}
#article table.blank > tbody > tr > td
{
  border-style: none !important;
}
#article th
{
  border: solid 1px #666;
  padding: 0.4em;
}
#article td
{
  border: solid 1px #666;
  padding: 0.4em;
}

/* Mainly for images because the align attribute is not supported in html5 */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.left-margin {
  margin-left: 1em;
}
.right-margin {
  margin-right: 1em;
}

/* From http://www.abeautifulsite.net/blog/2013/08/whipping-file-inputs-into-shape-with-bootstrap-3/. */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* For text areas where white space is significant. */
textarea.significant-space {
  font-family: monospace !important;
  white-space: pre;
}

/* For text areas where white space is not significant. */
textarea.insignificant-space {
  font-family: monospace !important;
}

/* For links where we don't want the underline. */
a.no-underline {
  text-decoration: none !important;
}

/* For beta-quality indicator image. */
#beta-badge {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  border: none;
  pointer-events: none;
}
