- flash.each do |name, msg|
  .span12
    %div{class: "text-center alert alert-#{name == :notice ? 'success' : 'error'}"}
      %button.close{"type" => "button", "data-dismiss" => "alert"} ×
      = msg