.navbar-inner
  .container
    %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .nav-collapse.collapse
      %ul.nav
        %li= link_to "Home", home_path
        %li= link_to "Players", players_path
