%nav{class: "navbar navbar-default", role: "navigation"}
  .navbar-header
    %button{class: "navbar-toggle", type: "button", "data-toggle" => "collapse", "data-target" => ".navbar-ex1-collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      %li{class: active("pages", "home")}= link_to "Home", home_path
      - if can?(:manage, User)
        %li{class: active("admin/users")}= link_to "Users", admin_users_path
    %ul.nav.navbar-nav.navbar-right
      - text, path = current_user.guest? ? ["in", sign_in_path] : ["out", sign_out_path]
      %li{class: active("sessions")}= link_to t("session.sign_#{text}"), path
